.arrow-left {
    position: absolute;
    top: -100%;
}

.arrow-left path {
    fill: #616983;
}

.btn-margin {
    margin-top: 75px;
}

@media (max-width: 1000px) {
    .arrow-left {
        top: -35%;
    }

}